<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Archivos.Properties.Settings.Valor" connectionString="Data Source=LAB2PC21;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>